.analog-clock {
    display: flex;
    overflow: hidden;
    aspect-ratio: 1/1;
    border-radius: 50%;
    position: relative;
    align-items: center;
    text-indent: -9999vw;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(188, 236, 236, 1);
}

.analog-clock > * {
    top: 0;
    left: 50%;
    width: 1rem;
    height: 50%;
    position: absolute;
    border-radius: 1rem;
    background-color: blue;
    transform-origin: 50% calc(100% - .5rem);
}

.analog-clock .analog-clock__hours {
    height: 40%;
    transform: translateX(-50%) translateY(25%) rotate(220deg);
    background-color: yellow;
}

.analog-clock .analog-clock__minutes {
    height: 50%;
    transform: translateX(-50%) rotate(110deg);
}

.analog-clock .analog-clock__seconds {
    height: 70%;
    transform: translateX(-50%) translateY(-10%) rotate(50deg);
    width: .5rem;
    transform-origin: 50% calc(80% - .25rem);
    background-color: red;
}